@model IEnumerable<BeersCatalog.BLL.Models.Style>

@{
    ViewData["Title"] = "Estilos";
}

<h1>Estilos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>
@if(Model == null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
else
{
   <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.StyleId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.StyleId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.StyleId">Deletar</a>
                <a class="btn btn-success" asp-controller="Beers" asp-action="IndexByStyleId" asp-route-id="@item.StyleId">Cervejas</a>
            </td>
        </tr>
}
    </tbody>
</table> 
}
