@model IEnumerable<BeersCatalog.BLL.Models.Beer>

@{
    ViewData["Title"] = "Cervejas";
}

<h1>Cervejas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>

@if(Model == null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
else
{
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ABV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IBU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Style)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BeerId">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.BeerId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BeerId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>   
}
